<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.triviality"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/testify"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.triviality.splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.triviality.Start"
            android:label="@string/app_name" >
     	       <intent-filter>
                <action android:name="com.example.triviality.START" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.triviality.QuizActivity"
            android:label="@string/app_name" >
     	       <intent-filter>
                <action android:name="com.example.triviality.HOMESCREEN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.triviality.QuizActivity1"
            android:label="@string/app_name" >
     	       <intent-filter>
                <action android:name="com.example.triviality.HOMESCREEN1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.triviality.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
    </application>

</manifest>